.tour-search{
    display: flex;
    flex-direction: row;
    background-color: #446059;
    /* padding: 4%; */
    padding: 0 40px 0 40px;
    width: 75%;
    height: 20%;
    margin: auto;
    border-radius: 30px;
    /* position: absolute;
    bottom: 10px;
    z-index: 99; */
    
}
.tour-search div input{
    height: 45px;
    padding: 0 5px 0 5px;
    border-radius: 8px;
}
.tour-search div select{
    padding: 0 10px 0 10px;
    height: 45px;
    border-radius: 8px;
}
.tour-search div button{
    padding: 0 20px 0 20px;
    height: 45px;
    border-radius: 8px;
}

@media (max-width:1472px){
    .tour-search{
        row-gap: 1px;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 500px;
        padding: 10px 0 10px 0;
    }
    .tour-search div input{
        width: 400px;
    }
    .tour-search div select{
        width: 400px;
    }
    .tour-search div button{
        width: 400px;
    }
}