@media (max-width:1214px){
    .tour-price-day{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        font-size: 1.2vw;
    }
    .tour-place{
        font-size: 1.2vw;
    }
    .tour-rating{
        font-size: 1.2vw;
    }
}
@media (max-width:992px){
    .tour-price-day{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        font-size: 1.5vw;
    }
    .tour-place{
        font-size: 1.5vw;
    }
    .tour-rating{
        font-size: 1.5vw;
    }
}
@media (max-width:768px){
    .tour-price-day{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        font-size: 1.7vw;
    }
    .tour-place{
        font-size: 1.7vw;
    }
    .tour-rating{
        font-size: 1.7vw;
    }
}
@media (max-width:576px){
    .tour-price-day{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        font-size: 3vw;
    }
    .tour-place{
        font-size: 3vw;
    }
    .tour-rating{
        font-size: 3vw;
    }
}